.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #66a2fd;
    text-decoration: none;
    margin-left: 5px;
}

.footer a:hover {
    color: #2f5081;
    font-weight: bold;
}